@import "/style/estilo.css";
@import "/style/cadastroPessoaJuridica.css";


/* Estilização pagina cadastroPJ */
#principal{
   height: 140vh;
}
.teste {
   width: 35%;
   order: 2;
}

.image {
   width: 20rem;
   height: 40rem;
}

.form-posicionar {
   display: flex;
   justify-content: center;
   
}

.form {
  
   align-items: center;
   border: 3px dashed black;
   width: 70%;
   height: auto;
   display: flex;
   flex-direction: column;
   background-color: #fff;
   padding: 3rem;
   border-radius: 8px;
   margin-top: 1.5rem;
   border: 0.1px solid rgba(0, 0, 0, .2);
   box-shadow: 5px 3px 3px 5px rgba(0, 0, 0, .2);
   order: 1;
}

.form-header {
   font-family: 'Urbanist', sans-serif;
   font-size: 36px;
   font-weight: 800;
   margin-bottom: 1.5rem;
   margin-top: 0.3rem;
   color: #000;

   padding: 0.2rem 0;
}

.form-header h1::after {
   content: '';
   display: block;
   width: 5rem;
   height: 0.3rem;
   background-color: #4466EA;
   margin: 0 auto;
   position: absolute;
   border-radius: 10px;
}

.input-group {
   display: flex;
   flex-wrap: wrap;

}

.input-box {
   display: flex;
   flex-direction: column;
   width: 23rem;
   min-width: 10rem;
}

.input-box input {
   width: 18rem;
   height: 3rem;
   margin: 0.6rem 0;
   padding: 0.8rem 1.2rem;
   border: none;
   border-radius: 10px;
   box-shadow: 1px 1px 6px #0000001c;
   display: flex;

}

.input-box input:hover {
   background-color: #eeeeee75;
}

.input-box label {
   font-family: 'Inter', sans-serif;
   font-size: 1rem;
   font-weight: 600;
   color: #000000c0;
   padding: 0.1rem;
}

.input-box input::placeholder {
   color: #000000be;
}

.botao-concluir button {
   width: 93%;
   height: 3rem;
   font-family: 'Urbanist', sans-serif;
   font-weight: 800;
   font-size: 1.5rem;
   margin-top: 0.5rem;
   margin-bottom: 0;
   background-color: #4466EA;
   padding: 0.2rem;
   border-radius: 5px;
   cursor: pointer;
   letter-spacing: 0.2rem;
   font-weight: 900;
}

.botao-concluir a {
   text-decoration: none;
   color: #fff;
   padding: 1rem;
}

.titulo-cadastro {
   width: 100%;
   display: block;
   margin-bottom: 0.4rem;
   color: #000;
   font-family: 'Inter', sans-serif;
   font-size: 1rem;
   font-weight: 500;
   padding: 0.5rem;

}

#confirmacao-entrada {
   display: flex;
   flex-wrap: wrap;
}

#confirmacao-entrada input {
   
   margin: 0.6rem 0;
   padding: 0.8rem 1.2rem;

}

/* ----------- Mensagem de erro ----------- */
.mensagem-erro {
   display: block;
   color: red;
   font-family: 'Inter', sans-serif;
   font-size: 0.8rem;
   font-weight: bold 100;
   margin-top: 0.5rem;
   padding-left: 0.5rem;
}

.erro input {
   border: 0.1rem solid red;

}