
@import "/style/estilo.css";
@import "/style/cadastroPessoaFisica.css";
@import "/style/cadastroPessoaJuridica.css";
@import "/style/contato.css";
@import "/style/opcoesDeCadastro.css";
/*Estilização pagina cadastro */
.first-section-cadastro-pf {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    order: 2;
 }
 
 #caixa-de-informacao h1 {
    font-size: 32px;
    margin-bottom: 300px;
 }
 
 .posicao {
 
    display: block;
    position: relative;
    align-items: flex-start;
    margin-bottom: 300px;
 }
 
 .imagem-cadastro-pf {
    display: flex;
    width: 80%;
 }
 
 .second-section-cadastro-pf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
 }
 
 .form-cadastro-pf {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
    border-radius: 30px;
    height: 90%;
    margin-top: 1.5rem;
    border: 0.1px solid rgba(0, 0, 0, .2);
    box-shadow: 5px 3px 3px 5px rgba(0, 0, 0, .2);
    order: 1;
 }
 
 .form-header-cadastro-pf {
    margin-bottom: 1.5rem;
    color: #000;
    font-size: 22px;
    padding: 1rem 0;
 }
 
 .titulo-dados-cadastrais {
    color: #000;
 }
 
 .form-header-cadastro-pf h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #4466EA;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
 }
 
 .input-group-cadastro-pf {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    padding: 1rem 0;
    gap: 0.9rem;
 
 }
 
 .input-box-cadastro-pf {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    width: 20rem;
    min-width: 10rem;
 }
 
 .input-box-cadastro-pf input {
    margin: 0.3rem 0;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
 }
 
 .input-box-cadastro-pf input:hover {
    background-color: #eeeeee75;
 }
 
 .input-box-cadastro-pf label {
    font-size: 1rem;
    font-weight: 600;
    color: #000000c0;
 }
 
 .input-box-cadastro-pf input::placeholder {
    color: #000000be;
 }
 
 .botao-concluir-cadastro-pf button {
    width: 100%;
    margin-top: 2rem;
    background-color: #4466EA;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
 }
 
 .botao-concluir-cadastro-pf a {
    text-decoration: none;
    color: #fff;
    padding: 2rem;
 }
 
 .titulo-login-cadastro-pf {
    width: 200px;
    margin-bottom: 0.4rem;
    color: #000;
 
 }
 
 #confirmacao-entrada-cadastro-pf {
    display: flex;
    flex-wrap: wrap;
 }
 
 #confirmacao-entrada-cadastro-pf div {
    flex: 1 1 200rem;
    margin: 5px;
    min-width: 10rem;
 }
 
 #confirmacao-entrada input {
    margin: 0.3rem 0;
    padding: 0.5rem 1rem;
 
 }