@import "/style/estilo.css";
@import "/style/cadastroPessoaFisica.css";
@import "/style/cadastroPessoaJuridica.css";
@import "/style/contato.css";
@import "/style/opcoesDeCadastro.css";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comforter+Brush&family=Fruktur&family=Inter:wght@200;300;400&family=Roboto&family=Roboto+Mono&family=Sarala&family=Syne:wght@800&display=swap');

* {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box
}

:root {
   --color: #D3D3D3;
   --text-importante: font-family: 'Syne', sans-serif;
   --title-h1eh2: font-family: 'Inter', sans-serif;
   --paragrafos: font-family: 'Roboto Mono', monospace;
   --color: #f0f0f0;
   --color-backgroud1: #bbdeea;
   --color-backgroud2: #bcc2ef;
   --color-font-paragrafo1: #1f2426;
   --color-font-paragrafo2: #000;
   --title-h1eh2: font-family: 'Inter', sans-serif;
}

/* Estilização pagina de log */
.first-section-login {
   width: 60%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: #fff;
   order: 2;
}

.alinhando {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.texto-informativo {
   width: 60%;
}

.texto-informativo h1 {
   font-size: 42px;
   padding: 1rem 0;
}

.second-section-login {
   width: 75%;
   height: 70vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: #fff;
}

.form-login {
   width: 45%;
   height: 20vh;
   display: flex;
   justify-content: center;
   flex-direction: column;
   flex-wrap: wrap;
   background-color: #fff;
   padding: 3rem;
   border-radius: 30px;
   height: 90%;
   margin-top: 1.5rem;
   border: 0.1px solid rgba(0, 0, 0, .2);
   box-shadow: 5px 3px 3px 5px rgba(0, 0, 0, .2);
   order: 1;
}

.form-header-login {
   margin-bottom: 1.5rem;
   color: #000;
   font-size: 22px;
   padding: 0.2rem 0;
}

.form-header-login h1::after {
   content: '';
   display: block;
   width: 5rem;
   height: 0.3rem;
   background-color: #4466EA;
   margin: 0 auto;
   position: absolute;
   border-radius: 10px;
}

.input-group-login {
   display: flex;
   flex-wrap: wrap;
   align-self: flex-start;
   padding: 1rem 0;
   gap: 0.9rem;


}

.input-box-login {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 22rem;

}

.input-box-login input {
   margin: 0.3rem 0;
   padding: 0.5rem 1rem;
   border: none;
   border-radius: 10px;
   box-shadow: 1px 1px 6px #0000001c;
}

.input-box-login input:hover {
   background-color: #eeeeee75;
}

.input-box-login label {
   font-size: 1rem;
   font-weight: 600;
   color: #000000c0;
}

.input-box-login input::placeholder {
   color: #000000be;
}

.lembretes {
   display: flex;
   flex-direction: row;
   gap: 10rem;
   align-items: flex-start;

}

.lembretes a {
   text-decoration: none;
   font-size: bold 13px;
   color: #000;
}

.entrar button {
   margin-top: 2rem;
   background-color: #fff;
   padding: 1rem;
   border-radius: 5px;
   cursor: pointer;
   letter-spacing: 0.3rem;
   font-weight: 900;
}

.entrar a {
   text-decoration: none;
   color: #000;
   padding: 2rem;
}

.entrar-login button {
   width: 100%;
   margin-top: 2rem;
   background-color: #4466EA;
   padding: 1rem;
   border-radius: 5px;
   cursor: pointer;
   letter-spacing: 0.3rem;
   font-weight: 900;

   align-items: center;
}

.entrar-login a {
   text-decoration: none;
   color: #fff;
   padding: 2rem;
   letter-spacing: 0.4rem;
}

/* ----------- Mensagem de erro ----------- */
.mensagem-erro {
   display: block;
   color: red;
   font-family: 'Inter', sans-serif;
   font-size: 0.8rem;
   font-weight:bold 100;
   margin-top: 0.5rem;
   padding-left: 0.5rem;
}
.erro input {
   border: 0.1rem solid red;

}